.feedStory{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    gap: 3px;
}
.feedStory img{
    padding: 1.5px;
    width: 56px;
    position: relative;
    border-radius: 100%;
    background-color: white;
}
.feedStory-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(#DE0046, #F7A34B);
    border-radius: 100%;
}
.feedStory img::before{
    content: "";
    border: 2.5px solid black;
}
.feedStory p{
    text-align: center;
    font-size: 12px;
}