.user-profile{
    padding: 60px 30px 220px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 100px;
}
.user-profile-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-profile-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-profile-menu>h3{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 350;
    font-size: 28px;
    line-height: 32px;
}
.user-profile-followButton{
    background-color: #0095F6;
    border: none;
    color: white;
    padding: 6px 24px;
    border-radius: 4px;
    font-size:14px;
    line-height: 18px;
    font-weight: 500;
    cursor: pointer;
}
.user-profile-burgerButton{
    cursor: pointer;
    background: none;
    border: none;
    font-size: 22px;
    font-weight: bold;
}
.user-profile-info{
    display: flex;
    gap: 40px;
}
.user-profile-info small{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}
.user-profile-info small>span{
    font-weight: 600;
}
.user-profile-biography span{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}
.user-profile-info button{
    background: none;
    border: none;
    cursor: pointer;
}